.divContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 2rem;
}

.detailContainer {
  display: flex;
  align-items: stretch;
  justify-content: center;
  border: solid black 3px;
}

.divText {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  color: white;
}

.initial {
  color: white;
}
